                <span class='dan-highlight__selectors'>
                  <svg class='dan-highlight__selector--left' xmlns='http://www.w3.org/2000/svg' width='9' height='88' viewBox='0 0 9 88'>
                      <circle cx='4.5' cy='4.5' r='4.5'></circle> 
                      <line x1='4.5' y1='8' x2='4.5' y2='88'></line>
                  </svg>
                  <svg class='dan-highlight__selector--right' xmlns='http://www.w3.org/2000/svg' width='9' height='88' viewBox='0 0 9 88'>
                      <circle cx='4.5' cy='4.5' r='4.5'></circle>
                      <line x1='4.5' y1='8' x2='4.5' y2='88'></line>
                  </svg>
                </span>
{{ content.content.text }}