{% if content.content.link %}
  {{ macros.linkStart(content.content.link, 'dan-ripple-button-v6__anchor') }}
    <span class='dan-ripple-button-v6__inner'>
        <span class='dan-ripple-button-v6__text'>{{ content.content.text }}</span>
    </span>
  {{ macros.linkEnd() }}
{% else %}
    <span class='dan-ripple-button-v6__inner'>
        <span class='dan-ripple-button-v6__text'>{{ content.content.text }}</span>
    </span>
{% endif %}