<div class="dan-parallax-slider__slider">
    <div class="dan-parallax-slider__container" data-parallax-slider-scroll>
        %%CHILDREN%%
    </div>
</div>

<div class="dan-parallax-slider__progress">
    <div class="dan-parallax-slider__progress-line-wrap">
        <div class="dan-parallax-slider__progress-line"></div>
    </div>
</div>