<div class='dan-horizontal-marquee__element'>
    <div class='dan-horizontal-marquee__wrapper'>
        <div class='dan-horizontal-marquee__item'>
            <div class='dan-horizontal-marquee__nestable'></div>
            %%CHILDREN%%
        </div>
    </div>
</div>