<div class="dan-drawer__drawer">
    {% if design.mini_drag.enable_mini_drag %}
        <div class="dan-drawer__drag"></div>
    {% endif %}
    %%CHILDREN%%
</div>
<div class='dan-drawer__overlay'></div>