<div class='dan-flipbox__wrapper' {% if content.animation.type == 'horizontal' %}data-x{% elseif content.animation.type == 'horizontal-reverse' %}data-x-reverse{% elseif content.animation.type == 'vertical' %}data-y{% elseif content.animation.type == 'vertical-reverse' %}data-y-reverse{% endif %}>
    %%CHILDREN%%
</div>