{% if content.content.link %}
  {{ macros.linkStart(content.content.link, 'dan-mousefill-title__anchor') }}
  <span class="dan-mousefill-title__inner">{{ content.content.text }}</span>
  {{ macros.linkEnd() }}
{% else %}
  <span class="dan-mousefill-title__inner">{{ content.content.text }}</span>
{% endif %}