<div class="dan-before-after-image-v2__slider">
    <div class="dan-before-after-image-v2__glow-effect"></div>
    <div class="dan-before-after-image-v2__glow-effect-2"></div>
    <div class="dan-before-after-image-v2__sparkles-container"></div>
    <div class="dan-before-after-image-v2__handlebar">
        <svg class="dan-before-after-image-v2__handlebar-dots" width="16" height="16" viewBox="0 0 16 16">
            <circle cx="8" cy="4" r="1.5" />
            <circle cx="8" cy="8" r="1.5" />
            <circle cx="8" cy="12" r="1.5" />
        </svg>
    </div>
</div>
<div class="dan-before-after-image-v2__images">
    %%CHILDREN%%
</div>