{% if content.content.link %}
  {{ macros.linkStart(content.content.link, 'dan-pixels-button__anchor') }}
    <span class='dan-pixels-button__container'>
        <span class='dan-pixels-button__text'>{{ content.content.text }}</span>
    </span>
    <span class='dan-pixels-button__background'>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
    </span>
  {{ macros.linkEnd() }}
{% else %}
    <span class='dan-pixels-button__container'>
        <span class='dan-pixels-button__text'>{{ content.content.text }}</span>
    </span>
    <span class='dan-pixels-button__background'>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
        <span class='dan-pixels-button__pixel'></span>
    </span>
{% endif %}