<div class='dan-interactive-divider__line'>
    <div class='dan-interactive-divider__box'></div>
    <svg class='dan-interactive-divider__svg'>
        <path class='dan-interactive-divider__path'></path>
    </svg>
</div>