<div class='dan-decode-card__inner'>
    <div class='dan-decode-card__pattern'>
        <div class='dan-decode-card__pattern-gradient'></div>
        <div class='dan-decode-card__pattern-motion'></div>
        <div class='dan-decode-card__pattern-text'>
            <div class='dan-decode-card__random-text'></div>
        </div>
    </div>
    <div class='dan-decode-card__content'>
        %%CHILDREN%%
    </div>
</div>