{% if content.content.link %}
  {{ macros.linkStart(content.content.link, 'dan-flipflop-button__anchor') }}
    <span class='dan-flipflop-button-v2__container'>
        <span class='dan-flipflop-button-v2__text'>{{ content.content.flip_text }}</span>
        <span class='dan-flipflop-button-v2__background'></span>
    </span>
  {{ macros.linkEnd() }}
{% else %}
    <span class='dan-flipflop-button-v2__container'>
        <span class='dan-flipflop-button-v2__text'>{{ content.content.flip_text }}</span>
        <span class='dan-flipflop-button-v2__background'></span>
    </span>
{% endif %}