<div class="dan-parallax-slider__item-img-wrap">
    {{ macros.image(content.content.source, content.content.size, alt, lazyLoad) }}
</div>

<div class="dan-parallax-slider__item-content">
    %%CHILDREN%%
</div>