<div class='dan-audio-player__top'>
    <img class='dan-audio-player__thumbnail' src='{{ content.thumbnail.source }}' alt='Thumbnail' />

    <div class='dan-audio-player__top-right'>
        <div class='dan-audio-player__top-texts'>
            <div class='dan-audio-player__name'>{{ content.texts.audio_title }}</div>
            <div class='dan-audio-player__artist'>{{ content.texts.artist_name }}</div>
        </div>

        <div class='dan-audio-player__play' tabindex='0'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20' fill='none'>
                <path d='M13.9405 6.337C15.5735 7.26468 16.8567 7.99369 17.7709 8.66148C18.6913 9.33386 19.3721 10.0366 19.6159 10.9632C19.7947 11.6426 19.7947 12.3574 19.6159 13.0368C19.3721 13.9634 18.6913 14.6661 17.7709 15.3385C16.8567 16.0063 15.5735 16.7353 13.9406 17.663L13.9406 17.663C12.3632 18.5591 11.033 19.3148 10.0232 19.7444C9.0053 20.1773 8.07729 20.3968 7.17536 20.1412C6.51252 19.9533 5.90941 19.5968 5.42356 19.1066C4.76419 18.4414 4.49951 17.5219 4.37429 16.4154C4.24998 15.3169 4.24999 13.879 4.25 12.0501V12.0501V11.9499V11.9499C4.24999 10.121 4.24998 8.68309 4.37429 7.58464C4.49951 6.4781 4.76419 5.55861 5.42356 4.89335C5.90941 4.40317 6.51252 4.04666 7.17536 3.85883C8.07729 3.60325 9.0053 3.82269 10.0232 4.25565C11.033 4.68516 12.3632 5.44084 13.9405 6.337Z'/>
            </svg>
        </div>
        <div class='dan-audio-player__pause' tabindex='0'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20' fill='none'>
                <path d='M16.9506 3.25L17 3.25L17.0494 3.25H17.0494C17.7143 3.24996 18.2871 3.24993 18.7458 3.31161C19.2375 3.37771 19.7087 3.52677 20.091 3.90901C20.4732 4.29126 20.6223 4.76252 20.6884 5.25416C20.7501 5.71291 20.7501 6.28577 20.7501 6.95064V17.0494C20.7501 17.7142 20.7502 18.2871 20.6885 18.7458C20.6224 19.2375 20.4733 19.7087 20.0911 20.091C19.7088 20.4732 19.2376 20.6223 18.7459 20.6884C18.2872 20.7501 17.7143 20.75 17.0495 20.75H16.9507C16.2859 20.75 15.713 20.7501 15.2543 20.6884C14.7626 20.6223 14.2914 20.4732 13.9091 20.091C13.5269 19.7087 13.3778 19.2375 13.3117 18.7458C13.2501 18.2871 13.2501 17.7143 13.2501 17.0494V17.0494V6.95063V6.95058C13.2501 6.28574 13.2501 5.71289 13.3117 5.25416C13.3778 4.76252 13.5269 4.29126 13.9091 3.90901C14.2914 3.52677 14.7626 3.37771 15.2543 3.31161C15.713 3.24993 16.2859 3.24996 16.9507 3.25H16.9507Z'/>
                <path d='M6.95072 3.25L7.00009 3.25L7.04947 3.25H7.04952C7.71436 3.24996 8.28721 3.24993 8.74594 3.31161C9.23758 3.37771 9.70884 3.52677 10.0911 3.90901C10.4733 4.29126 10.6224 4.76252 10.6885 5.25416C10.7502 5.71291 10.7501 6.28577 10.7501 6.95064V17.0494C10.7501 17.7142 10.7502 18.2871 10.6885 18.7458C10.6224 19.2375 10.4733 19.7087 10.0911 20.091C9.70884 20.4732 9.23758 20.6223 8.74594 20.6884C8.28719 20.7501 7.71433 20.75 7.04946 20.75H6.95073C6.28586 20.75 5.713 20.7501 5.25425 20.6884C4.76261 20.6223 4.29135 20.4732 3.9091 20.091C3.52686 19.7087 3.3778 19.2375 3.3117 18.7458C3.25003 18.2871 3.25006 17.7143 3.25009 17.0494V17.0494V6.95063V6.95058C3.25006 6.28574 3.25003 5.71289 3.3117 5.25416C3.3778 4.76252 3.52686 4.29126 3.9091 3.90901C4.29135 3.52677 4.76261 3.37771 5.25425 3.31161C5.71298 3.24993 6.28583 3.24996 6.95067 3.25H6.95072Z'/>
            </svg>
        </div>
    </div>
</div>

<div class='dan-audio-player__bottom'>
    <div class='dan-audio-player__timer'>0:00</div>
    <div class='dan-audio-player__progress-container'>
        <div class='dan-audio-player__progress'></div>
    </div>
    <div class='dan-audio-player__duration'>0:00</div>
</div>