{% set arrow = '' %}
  {% if content.thumb.arrow_type == 'type1' %}
    {% set arrow %}
    <div class='dan-before-after-image__scroller--thumb'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'>
        <path d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/>
      </svg>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'>
      <path d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/>
      </svg>
    </div>
  {% endset %}
  {% elseif content.thumb.arrow_type == 'type2' %}
    {% set arrow %}
    <div class='dan-before-after-image__scroller--thumb'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'>
        <path d='M9.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l128-128c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 256c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-128-128z'/>
      </svg>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'>
        <path d='M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z'/>
      </svg>
    </div>
  {% endset %}
  {% elseif content.thumb.arrow_type == 'type3' %}
    {% set arrow %}
    <div class='dan-before-after-image__scroller--thumb'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <path d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z'/>
      </svg>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
        <path d='M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z'/>
      </svg>
      </div>
  {% endset %}
  {% elseif content.thumb.arrow_type == 'type4' %}
    {% set arrow %}
    <div class='dan-before-after-image__scroller--thumb'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
        <path d='M0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416zM128 256c0-6.7 2.8-13 7.7-17.6l112-104c7-6.5 17.2-8.2 25.9-4.4s14.4 12.5 14.4 22l0 208c0 9.5-5.7 18.2-14.4 22s-18.9 2.1-25.9-4.4l-112-104c-4.9-4.5-7.7-10.9-7.7-17.6z'/>
      </svg>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
        <path d='M448 96c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320zM320 256c0 6.7-2.8 13-7.7 17.6l-112 104c-7 6.5-17.2 8.2-25.9 4.4s-14.4-12.5-14.4-22l0-208c0-9.5 5.7-18.2 14.4-22s18.9-2.1 25.9 4.4l112 104c4.9 4.5 7.7 10.9 7.7 17.6z'/>
      </svg>
    </div>
  {% endset %}
  {% elseif content.thumb.arrow_type == 'type5' %}
    {% set arrow %}
    <div class='dan-before-after-image__scroller--thumb'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
        <path d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/>
      </svg>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
        <path d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/>
      </svg>
    </div>
  {% endset %}
{% endif %}

<div class='dan-before-after-image__before dan-before-after__div'>
  {{ macros.image(content.content.before_image, content.content.size, alt, lazyLoad) }}
</div>
<div class='dan-before-after-image__after dan-before-after__div'>
  {{ macros.image(content.content.after_image, content.content.size, alt, lazyLoad) }}
</div>
<div class='dan-before-after-image__scroller'>
  {{ arrow|raw }}
</div>