{% if content.content.prefix %}
<span class="dan-looping-lines-v2__prefix">{{ content.content.prefix }}</span>
{% endif %}
<div class="dan-looping-lines-v2__animated-container">
  <div class="dan-looping-lines-v2__word"></div>
</div>